header {
  margin: 0px;
  min-height: 10vh;
  width: 100%;
  background: linear-gradient(to right, #002768, #001437);
  display: flex;
}

.titre {
  margin-left: 10.55%;
}

nav > ul {
  margin: 0px;
  padding: 0px;
  width: 80%;
  list-style-type: none;
  display: flex;
  justify-content: right;
}

.titre > h2 {
  margin: 0px;
  padding: 2% 20% 0% 5%;
  color: white;
  width: 30vw;
}

.titre > sub {
  margin-top: 0px;
  padding: 0% 20% 1% 5%;
  color: white;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav > ul > li {
  margin: auto 1%;
  min-width: 90px;
  
}

li > a {
  text-decoration: none;
  margin-top: 0px;
  padding: 1% 0% 1% 0%;
  color: white;
}

.nav-selected {
  text-decoration: underline;
}

body {
  margin: 0px;
  width: 100%;
}

footer {
  background-color: var(--footer-bg);
}

footer > div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  min-height: 32vh;
}

.footer-colonne {
  max-width: 250px;
}

.footer-colonne > h5 {
  color: var(--primary-color);
}

.footer-colonne > ul {
  padding: 0px;
  list-style-type: none;
}

.footer-colonne > ul > li {
  width: 100%;
}


.footer-colonne > ul > li > a {
  color: var(--primary-color);
}

footer > p {
  margin: 0px 15%;
  padding: 16px 20%;
  text-align: center;
  border-top: 1px solid white;
}


@media (max-width: 1024px) {
  .titre {
    margin-left: 2%;
  }

  nav > ul > li {
    margin: 0px;
    padding: 0px;
    width: 80%;
    display: flex;
    justify-content: right;
  }


}

@media (max-width: 768px) {
  header {
    display: block;
    text-align: center;
  }

  .titre {
    margin: 0px 20%;
  }

  .titre > h2 {
    text-wrap: nowrap;
    margin: 0px 20%;
    padding: 5% 5% 0% 5%;
  }
  .titre > sub {
    margin: 0px 10%;
    padding: 0% 9.5% 0% 0%;
  }

  nav > ul {
    margin: 0px;
    padding: 2% 0px;
  }

  footer > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px 10%;
    min-height: auto;
  }

  .footer-colonne > ul > li > span, .footer-colonne > ul > li > a  {
    font-size: 12px;
  }

  .footer-colonne > ul, .footer-colonne > ul > li  {
    max-width: 100%;
  }

  footer > p {
    margin: 0px 3%;
    padding: 16px 10%;
    font-size: 12px;
  }


}

@media (max-width: 480px) {
  
}
